<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id="task" name="task" <% if task.completed %>checked<% end %>>
    <label for="task"><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>
